*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
 
}

h2{
    font-size: 48px;
    font-weight: bolder;
    color: #f6faf8;
    padding-bottom: 30px;
}
header{
    font-size: 24px;
    color: #f6faf8; 
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 80px;
    width: 100%;

}
a,p{
    font-size: 18px;
    color: #e5e7eb;
}
ul,a{
    display: flex;
    list-style: none;
    text-decoration: none;
    color: black;
    align-items: center;
    margin: 0px 25px 0px 25px;
}
h2,p,button{
 align-self: flex-start;   
}
button{
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    padding: 4px 20px 4px 20px;
}
.container{
    display: flex;

}
.ill1,.ill2{
    max-width: 250px;
    
}
.ill1 img,.ill2>img{
    width: 200px;
    height: 200px;
    /* contain makes the image a normal size and no crop the photo
     fill makes every photo the same size but kind of stretches the photo
     
     I could have some kind of border to make it more fancy
     */
    object-fit: fill;
    overflow: visible;
    border: #1f2937;
    border: 2px solid black;
}
.patts{
    max-width: 250px;
}
.patts>img{
    width: 220px;
    height: 250px;
    overflow: visible;
}
#hh{
    width: 100px;
    height: 100px;
}
.top{
     background-image: url('/docs/images/Header.jpg');
    background-size: cover;
    background-position: center; 

       background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding-bottom: 150px;
    background-image: url('/docs/images/Header.jpg');
    /* contain makes it fit in the box and repeats itself
    adding 100% 100% to it stretches the images to fit the whole screen*/
    background-size: contain;
    background-position: bottom; 

    position: fixed;
    bottom: 0;
    width: 100%;
}
